@font-face {
  font-family: 'PT Sans-narrowBold';
  src:         local('PT Sans-narrowBold'),
  url('../assets/fonts/PTSans/ptsansnarrowbold.woff2') format('woff2'),
  url('../assets/fonts/PTSans/ptsansnarrowbold.woff') format('woff');
  font-weight: bold;
  font-style:  normal;
}