// Размеры экрана
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Переходы
$transition-normal: .25s;
$transition-medium: .15s;
$transition-fast: .1s;

$font-family-default: "PT Sans-narrowBold", Helvetica, Arial, sans-serif;

$color-text-default: #111111;
$color-text-light: #aba9a7;
