@import 'vendor/*.scss';
//
@import 'parts/fonts.scss';
@import 'parts/vars.scss';
@import 'parts/mixins.scss';
//
@import 'parts/reset.scss';
@import 'parts/services.scss';
//
@import '../blocks/**/*.scss';

.body {
  color: $color-text-default;
  font-family: $font-family-default;
  font-weight: bold;
  position: relative;
}
