<div class="container head">

  <div class="row">
    <h1 class="title offset-lg-1">
      набор для путешествий &laquo;Baxter of&nbsp;California&raquo;
    </h1>
  </div>

  <div class="row">
    <nav class="offset-lg-1">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">Магазин</a></li>
        <li class="breadcrumb-item"><a href="#">Средства для ухода</a></li>
        <li class="breadcrumb-item active">набор для путешествий &laquo;Baxter of&nbsp;California&raquo;</li>
      </ol>
    </nav>
  </div>

</div>

<div class="container">

  <div class="row no-gutters">

    <div class="slider offset-lg-1 col-lg-5">
      <div class="slider__items js-slider">
        <div class="slider__item js-item js-zoom"><img data-index="1" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item js-item js-zoom"><img data-index="2" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item js-item js-zoom"><img data-index="3" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item js-item js-zoom"><img data-index="4" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item js-item js-zoom"><img data-index="5" src="assets/img/1.jpg" alt=""></div>
      </div>

      <div class="slider__nav js-nav-slider">
        <div class="slider__item-nav js-nav-item"><img data-index="1" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item-nav js-nav-item"><img data-index="2" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item-nav js-nav-item"><img data-index="3" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item-nav js-nav-item"><img data-index="4" src="assets/img/1.jpg" alt=""></div>
        <div class="slider__item-nav js-nav-item"><img data-index="5" src="assets/img/1.jpg" alt=""></div>
      </div>

    </div>

    <div class="description offset-lg-1 col-lg-4">

      <div class="description__title">
        <p>есть в&nbsp;наличии</p>
        <p>Артикул: dexter-ae</p>
      </div>

      <p class="description__text">
        Travel Kit&nbsp;&mdash; необходимый аксессуар во&nbsp;время любого путешествия. В&nbsp;аккуратной кожаной сумке находится все, что нужно для бритья и&nbsp;ухода за&nbsp;кожей во&nbsp;время рабочей поездки или отдыха: средство для умывания, увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.
      </p>

      <div class="basket">
        <div class="basket__price"><span>2&nbsp;900&nbsp;₽</span></div>
        <button type="button" class="basket__pay js-buy"><span>Купить</span></button>
      </div>

      <div class="list">
        <p class="list__title">В&nbsp;набор входят:</p>
        <ul>
          <li class="list__item"><span>Средство для умывания (50&nbsp;мл)</span></li>
          <li class="list__item"><span>Увлажняющий крем (50&nbsp;мл)</span></li>
          <li class="list__item"><span>Крем для бритья (50&nbsp;мл)</span></li>
          <li class="list__item"><span>Крем после бритья, шампунь (50&nbsp;мл)</span></li>
          <li class="list__item"><span>Удобная кожаная косметичка</span></li>
        </ul>
      </div>

    </div>
  </div>
</div>