.head {
  padding-top: 50px;

  .title {
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include w-to($screen-md) {
      font-size: 24px;
    }
    @include w-to($screen-sm) {
      line-height: 30px;
      margin-left: 15px;
    }
  }

  .breadcrumb {
    background-color: #ffffff;
    margin-bottom: 58px;
    padding: 0;
    @include w-to($screen-sm) {
      margin-left: 15px;
    }

    &-item {
      padding-left: 0;

      &:first-child {
        &:before {
          content: none;
        }
      }
    }

    &-item:before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      margin-right: 0.9rem;
      margin-bottom: 2px;
      margin-left: 1.1rem;
    }

    &-item a {
      height: 12px;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      @include w-to($screen-md) {
        font-size: 12px;
      }

      &:hover {
        color: $color-text-light;
      }
    }

    &-item:nth-child(3) {
      margin-left: 8px;
    }

    &-item.active {
      color: $color-text-light;
      height: 12px;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      margin-left: 8px;
      @include w-to($screen-md) {
        font-size: 12px;
        &:before {
          margin-left: 0;
        }
      }
    }
  }
}

.slider {
  @include w-from($screen-lg) {
    margin-left: 3.5rem;
  }
  @include w-from($screen-xl) {
    margin-left: 5.2rem;
  }
  @include w-to($screen-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__items {
    max-width: 460px;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
    @include w-to($screen-xl) {
      max-width: 380px;
    }
    @include w-to($screen-md) {
      max-width: 280px;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 460px;
      outline: none;
      @include w-to($screen-xl) {
        width: 380px;
      }
      @include w-to($screen-md) {
        max-width: 280px;
      }
    }
  }

  &__item {
    max-width: 460px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
  &__nav {
    @include w-to($screen-xl) {
      max-width: 350px;
    }
    @include w-to($screen-md) {
      max-width: 280px;
    }
  }
  &__item-nav {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    height: 149px;
    outline: none;
    margin: 0 10px;
    @include w-to($screen-xl) {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
      height: 109px;
    }
    @include w-to($screen-md) {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      height: 89px;
    }

    img {
      width: 100%;
      height: 100%;
      outline: none;
    }
  }

  &__item-nav.slick-current {
    border: 1px solid #393939;
  }
}

.description {
  padding-top: 14px;
  @include w-from($screen-xl) {
    margin-left: 5.6rem;
  }
  @include w-to($screen-lg) {
    padding-top: 70px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__text {
    margin-bottom: 36px;
  }

  &__title, &__text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;

    p:last-child {
      color: #aeaeae;
    }
  }
}

.basket {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  &__price, &__pay {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
    text-transform: uppercase;
  }

  &__price {
    max-width: 109px;
    background-color: #e5e5e5;
  }

  &__pay {
    max-width: 78px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.list {
  &__title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__item {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;

    &:before {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #000000;
      transform: rotate(45deg);
      display: inline-block;
      margin-right: 9px;
      margin-bottom: 2px;
    }
  }
}