<!doctype html>
<html lang="ru">
{%include "parts/meta.twig"%}
<body class="body">
{%include "../blocks/card/card.twig"%}

{% include "../blocks/popup/popup.twig" %}

<script src="scripts/vendor/jquery-3.4.1.min.js"></script>
<script src="scripts/vendor/slick.min.js"></script>
<script src="scripts/vendor/jquery.zoom.min.js"></script>
<script src="scripts/bundle.js"></script>

</body>
</html>
