{% set meta = {
  title: 'Baxter of California',
} %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.description}}">

  <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="16x16">

  <link rel="preload" href="assets/fonts/PTSans/ptsansnarrowbold.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/vendor/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/vendor/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
