.popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;

  &__active {
    display: flex;
  }

  &__window {
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 0;
    font-size: 30px;
    font-weight: bold;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &__text {
    font-size: 30px;
  }
}