<div class="popup js-popup">
  <div class="popup__window">
    <button type="button" class="popup__close js-close-popup">&times;</button>
    <p class="popup__text">Товар добавлен в корзину</p>
  </div>
</div>